@model RecipeManager.Models.AddRecipeViewModel
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "AddRecipe";
}

<h2>AddRecipe</h2>



@using (Html.BeginForm("AddRecipe", "Recipes", FormMethod.Post))
{
    <section class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="class">RecipeName: </label>
            <div class="col-sm-6">
                @Html.TextBoxFor(model => model.Recipe.RecipeName)
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="class">Servings: </label>
            <div class="col-sm-6">
                @Html.TextBoxFor(model => model.Recipe.Servings)
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="class">Cookingtime: </label>
            <div class="col-sm-6">
                @Html.TextBoxFor(model => model.Recipe.MinutesToMake)
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="class">Instructions: </label>
            <div class="col-sm-6">
                @Html.TextAreaFor(model => model.Recipe.Instructions)
            </div>
        </div>
   
        <div class="form-group">
            <label class="col-sm-3 control-label" for="class">Ingredients: </label>
            <div class="col-sm-6">

                @Html.TextAreaFor(model => model.RecipePart.PartText)
            </div>
        </div>
        @*<button type="submit">Submit</button>*@
        <input type="submit" value="AddRecipe" class="btn btn-default" />

        </section>
        }






    



