@model RecipeManager.Models.AllRecipesViewModel
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "AllRecipes";
}

<h1>@Html.ActionLink("Add Recipe","AddRecipe","Recipes")</h1>
<h2>Recipes</h2>

<div class="panel-body">
    <!-- Recipe List table -->
    <table id="tableRecipes" class="table-bordered table-hover">
        <thead>
            <tr>
                <th>View</th>
                <th>RecipeName</th>
                <th>Serving Size</th>
                <th>Make Time</th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Recipes != null)
            {
                foreach (var Recipe in Model.Recipes)
                {
                    <tr>
                        <td>@Html.ActionLink("View", "Recipe", "Recipes", new { RecipeId = Recipe.RecipeId }, null)</td>
                        <td>@Recipe.RecipeName</td>
                        <td>@Recipe.Servings</td>
                        <td>@Recipe.MinutesToMake</td>
                    </tr>

                }

            }
        </tbody>
    </table>
</div>
