
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<body>

    <div class="jumbotron">
        <div class="container text-center">
            <h1>Recipe Manager</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <a href="@Url.Action("Recipe", "Recipes")">
                        <div class="panel-heading">Featured Recipe</div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                     <a href="@Url.Action("Recipe", "Recipes")">
                        <div class="panel-heading">Featured Recipe</div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <a href="@Url.Action("Recipe", "Recipes")">
                        <div class="panel-heading">Featured Recipe</div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div><br>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <a href="@Url.Action("Recipe", "Recipes")">
                        <div class="panel-heading">Featured Recipe</div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <a href="@Url.Action("Recipe", "Recipes")">
                        <div class="panel-heading">Featured RecipeL</div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <a href="@Url.Action("Recipe", "Recipes")">
                        <div class="panel-heading">Featured Recipe</div>
                        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                        <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div><br><br>

    <footer class="container-fluid text-center">
        <p>Recipe Manager</p>

    </footer>

</body>
</html>