
@model RecipeManager.Models.Recipe

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Recipe";

}

<h2>@Model.RecipeName</h2>
<div>
    <img src=@Html.DisplayFor(model =>Model.Image) /> <!--style="height:200px;width:200px;"-->

   
    <!--<p>@Model.RecipeId</p>
    <p>Name: @Model.RecipeName</p>-->
    
    <br/>
    @Html.ActionLink("Add to My Recipes", "AddToMyRecipes", "Recipes", new { RecipeId = Model.RecipeId }, null)
    <br/>

    <p>Servings:@Model.Servings</p>
    <p>Cooking time:@Model.MinutesToMake minutes</p>
    <p>Instructions: @Model.Instructions</p>
    <!--<p>Image path : @Model.Image</p>-->

    <br/>

    <div class="panel-body">
        <!-- Recipe List table -->
        <table id="resultRecipes" class="table-bordered table-hover">
            <thead>
                <tr>
                    <th>Ingredients</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.RecipeParts != null)
            {
                foreach (var recipePart in Model.RecipeParts)
                {
                        <tr>
                            <td>@recipePart.PartText</td>
                        </tr>

                    }

                }
            </tbody>
        </table>
    </div>

</div>

