@model RecipeManager.Models.SearchViewModel


@{
    //Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "Search";
}

<div>
    <h2> Search for Recipes</h2>
</div>

<p> Please use the search box below to find receipes</p>


<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    @Html.BeginForm("Search", "Recipes", FormMethod.Post){ 
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#contains">Name</a></li>
                        <li><a href="#its_equal">Ingredient</a></li>
                        <li><a href="#greather_than">Serving Size ></a></li>
               
                        <li class="divider"></li>
                        <li><a href="#all">Anything</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                
                @Html.TextBoxFor(model=>Model.SearchTerm)

                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span
                }
            </div>
        </div>
    </div>


    
    <div class="panel-body">
        <!-- Recipe List table -->
        <table id="resultRecipes" class="table-bordered table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>RecipeName</th>
                    <th>Serving Size</th>
                    <th>Make Time</th>
                    <th>View</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Recipes != null)
            {
                foreach (var Recipe in Model.Recipes)
                {
                        <tr>
                            <td><img src=@Html.DisplayFor(model => Recipe.Image) style="height:50px;width:50px;" /></td>
                            <td>@Recipe.RecipeName</td>
                            <td>@Recipe.Servings</td>
                            <td>@Recipe.MinutesToMake</td>
                            <td>@Html.ActionLink("View", "Recipe", "Recipes", new { RecipeId = Recipe.RecipeId }, null)</td>
                        </tr>

                    }

                }
            </tbody>
        </table>
    </div>
</div>
