@model RecipeManager.Models.RecipeListViewModel

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Title = "My Recipes";

}

<h2>User Recipes</h2>
<div>
    <table style="display: inline-block;" id="tableRecipes" class="table-bordered table-hover">
        <thead>
            <tr>
                <th>Image</th>
                <th>RecipeName</th>
                <th>View</th>
                <th>Remove</th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Recipes != null)
            {

                foreach (var Recipe in Model.UserMadeRecipes)
                {
                    <tr>
                        <td><img src=@Html.DisplayFor(model => Recipe.Image) style="height:50px;width:50px;" /></td>
                        <td cellpadding="5">@Recipe.RecipeName</td>
                        <td cellpadding="5">@Html.ActionLink("View", "Recipe", new { RecipeId = Recipe.RecipeId }, null)</td>
                        <td cellpadding="5">@Html.ActionLink("Remove", "UserRecipes", new { Remove = Recipe.RecipeId })</td>
                        @* <td>@Recipe.Servings</td>
                            <td>@Recipe.MinutesToMake</td>
                            <td>@Recipe.Image</td>
                            <td>@Recipe.SourceName</td>*@
                    </tr>

                }

            }
        </tbody>
    </table>
</div>